.box{
	border: 1px solid black;
	min-height: 50px;
	width: 100px;

}
.orange{
	background-color: orange;
	padding: 10px;
}

/* shop.php*/
.product_div{
	display: flex;
}
.product-div .info{
	
}


/* admin page*/
.admin-page{
	margin-top: 20px;
	background-color: orange;
	color: black;
}
.admin-page a{
	text-decoration: none;
	color: black;
	margin: 5px;
}
.admin-page a div{
	min-width: 200px;
	min-height: 100px;
}
.admin-page a :hover{
	background-color: black;
	color: orange
}