.box{
	border: 1px solid black;
	min-height: 50px;
	width: 100px;

}
.orange{
	background-color: orange;
	padding: 10px;
}
.grey{
	background-color: rgba(119, 136, 153, 0.26);
}

/* navbar image*/
header .bg_nav{
	background-image: url("./image/nav_bg.jpg");
	background-repeat: repeat;
	background-size:cover;
	width: 100%;
	height: 150px;
	position: relative;
}
	.bg_nav h1{
		font-family:Verdana, Geneva, Tahoma, sans-serif;
		font-weight: 900;
		font-size: 60px;
		position: absolute;
		top: 30px;
		left: 30px;
	}
	.bg_nav img{
		width: 40px;
		mix-blend-mode:multiply;
	}

/* main page*/
#main_page img{
	height: 400px;
	width: 100%;
	border-radius: 2%
	;
}
.box1{
	height: 100px;
	flex: 1;
	background-color: black;
	text-align: center;

}
.box1:hover{
	border: 2px solid cyan;
	width: 35%;
}

/* shop.php*/
.product_div{
	display: flex;
	color: grey;
	background-color: lightcyan
}

.product_div a{
	text-decoration: none;
	color: grey;
}
.product_div:hover{
	background-color: rgb(167, 189, 189);
}
.product_div h3{
	color: black;
}
	.product_div img{
		width: 200px;
	}
	.product_div #with_img{
		text-align: justify;
		padding-left: 10%;
		flex:1 ;

	}
	.product_div #no_img{
		flex:1;
		padding-left: 10%;
	}


#category_bar{
	display: flex;
	flex-wrap: wrap;
}
	#category_bar a{
		text-decoration: none;
	} 
		#category_bar a div{
		text-align: center;
		background-color: grey;
		color: white;
		}
	
	

/* admin page*/
.admin-page{
	margin-top: 20px;
	background-color: lightslategray;
	color: black;
}
.admin-page a{
	text-decoration: none;
	color: black;
	margin: 5px;
}
.admin-page a div{
	min-width: 200px;
	min-height: 70px;
	margin: 20px;
	text-align: center;
	line-height: 70px;
}
.admin-page a :hover{
	background-color: black;
	color: orange;
	font-size: larger;
	font-weight: bolder;
}
.admin-page a div:hover{
	height: 80px;
}



/* view_item page*/
.view_item{
	background-color: lightcyan;
}

/* contafct us*/
#contact_us{
	background-image: url(image/shop.jpg);
}
